<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bolão diário do peixe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Bolão do diário do peixe</h1>
        <p class="fs-5 text-muted">Lembrete: Não podemos deixar o Giovane ganhar</p>
    </div>
    <div class="container py-3 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-start">Nome</th>
                    <th scope="col">Pontos</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">U.A.</th>
                    <th scope="col">Nº Palpites</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        {% if page.row == 1 %}
                            <th scope="row"><i class="bi bi-trophy text-warning"></i></th>
                            <td class="text-start text-warning">{{ page.name }}</td>
                            <td class="text-warning">{{ page.points }}</td>
                            <td class="text-warning">{{ page.victory }}</td>
                            <td class="text-warning">{{ page.tie }}</td>
                            <td class="text-warning">{{ page.last_correct }}</td>
                            <td class="text-warning">{{ page.rounds }}</td>
                        {% else %}
                            <th scope="row">{{ page.row }}</th>
                            <td class="text-start">{{ page.name }}</td>
                            <td>{{ page.points }}</td>
                            <td>{{ page.victory }}</td>
                            <td>{{ page.tie }}</td>
                            <td>{{ page.last_correct }}</td>
                            <td>{{ page.rounds }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>